
    <div class="main-container">
        <div>categoryByYears</div>
        <main>
            <!-- # Title # -->
            <% if (theme._showCategoryTitle) { %>
                <h2 class="page-title"><%= __("category") + " : " + page.category %></h2>
            <%}%>
            <%
                let list = (theme['_eventList'] || '').split(',');
                list.forEach(function (listItem) {
                  let info = listItem.split('@')
                  let key = info[0];
                  let title = info[1];
                  let categoryParent = page.category + '/' + key
            %>
            <!-- # Post List # -->
            <div class="post-stream-container">
                <%
                let yearList = [];
                let postsList = page.posts.sort('date', -1).filter(function (post){
                    let categoryKey = ''
                    let categoryYear = ''
                    post.categories.each(function (it, index) {
                        if (key === it.name) {
                            categoryKey = index
                        } else if(/^\d{4}$/.test(it.name)){
                            categoryYear = it.name
                        }
                    })
                    if (categoryKey && categoryYear && !yearList.includes(categoryYear)) {
                        yearList.push(categoryYear)
                    }
                    return !!categoryKey;
                })
                %>
                <% if (postsList.length > 0) {%>
                    <div class="post-stream_title">
                        <%- title%>
                    </div>
                    <%
                    let introConf = theme['_' + key + 'Intro'];
                    if (introConf) { %>
                    <div class="post-stream_intro">
                        <%- introConf%>
                    </div>
                    <% } %>
                <%}%>

                <% if (yearList.length > 0) { %>
                    <div class="year_wrapper">
                        <%
                        yearList.forEach(function (year) {%>
                            <a href="<%- url_for('/' + config.category_dir + '/' + categoryParent + '/' + year + '/')%>" class="category_year-a <%- year === page.category ? 'active' : ''%>"><%- year%></a>
                        <% }) %>
                        %>
                    </div>
                <% } %>

                <%postsList.each(function(post){%>
                    <div class="grid-item">
                        <%- partial('_partial/post-entry', { post: post, index: true, pin: false }) %>
                    </div>
                <% }) %>
            </div>
            <% }) %>
            %>
        </main>
        <%- partial('_partial/pagination') %>
    </div>
