
    <div class="main-container">
        <main>
            <!-- # Title # -->
            <% if (theme._showCategoryTitle) { %>
                <h2 class="page-title"><%= __("category") + " : " + page.category %></h2>
            <%}%>
            <!-- # Post List # -->
            <div class="post-stream-container">
                <% if (/^\d{4}$/.test(page.category)) { %>
                    <div class="year_wrapper">
                        <%
                            let pathList = page.path.split('/');
                            let categoryIndex = pathList.indexOf(page.category)
                            let categoryParent = pathList[categoryIndex - 1];
                            let conf = theme['_' + categoryParent + 'YearList'];
                            if (conf) {
                                let yearList = conf.split(',');
                                if (yearList) {
                                    yearList.forEach(function (year) {%>
                                        <a href="<%- url_for('/' + config.category_dir + '/' + categoryParent + '/' + year + '/')%>" class="category_year-a <%- year === page.category ? 'active' : ''%>"><%- year%></a>
                                    <%})
                                }
                            }
                        %>
                    </div>
                <% } %>
                <% page.posts.sort('date', -1).each(function(post){ %>
                    <div class="grid-item">
                        <%- partial('_partial/post-entry', { post: post, index: true, pin: false }) %>
                    </div>
                <% }) %>
            </div>
        </main>
        <%- partial('_partial/pagination') %>
    </div>
