<article class="post-entry px-0 card">
        <div class="columns col-gapless">
            <% if (post.banner) { %>
                <%if (post._private) { %>
                        <div>
                            <div>
                                    <img style="max-width: 100%" src="<%- post.banner%>" alt="">
                            </div>
                            <div class="banner-title" style="padding: 0.4rem 0.8rem;color: #000;text-align: center"><%- post.title %></div>
                        </div>
                <%} else {%>
                        <a href="<%= url_for(post.path) %>">
                                <div>
                                        <img style="max-width: 100%" src="<%- post.banner%>" alt="">
                                </div>
                                <div class="banner-title" style="padding: 0.4rem 0.8rem;color: #000;text-align: center"><%- post.title %></div>
                        </a>
                <%}%>
            <% } else { %>
                <div class="column col-12">
                    <%- partial('_partial/post-entry-content') %>
                </div>
            <% } %>
        </div>
</article>
